@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var className = Model.Customers.Count > 1 ? "popular" : null;
}
@*
    <br />
*@
<br />

@if (Model.Customers.Count == 0)
{
    <p>We have no customers.</p>
}
else
{
    <ul>
        @foreach (var cust in Model.Customers)
        {
            <li>@cust.Name</li>

        }
    </ul>
}